<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Restaurante Four Seasons</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reservas" routerLinkActive="active" >Reservas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
