<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img src="../../../../assets/mesaex.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mesa Tradicional</h5>
              <p class="card-text">Mesa para ate 8 pessoas, localizada no centro do restaurante</p>
              <a routerLink="/reservas" class="btn btn-outline-light">Reservar</a>
            </div>
          </div>
    </div>
  
    <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img src="../../../../assets/mesaex.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mesa Tradicional</h5>
              <p class="card-text">Mesa para ate 8 pessoas, localizada no centro do restaurante</p>
              <a routerLink="/reservas" class="btn btn-outline-light">Reservar</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img src="../../../../assets/mesaex.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mesa Tradicional</h5>
              <p class="card-text">Mesa para ate 8 pessoas, localizada no centro do restaurante</p>
              <a routerLink="/reservas" class="btn btn-outline-light">Reservar</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img src="../../../../assets/mesaex.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mesa Tradicional</h5>
              <p class="card-text">Mesa para ate 8 pessoas, localizada no centro do restaurante</p>
              <a routerLink="/reservas" class="btn btn-outline-light">Reservar</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img src="../../../../assets/mesaex.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mesa Tradicional</h5>
              <p class="card-text">Mesa para ate 8 pessoas, localizada no centro do restaurante</p>
              <a routerLink="/reservas" class="btn btn-outline-light">Reservar</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img src="../../../../assets/mesaex.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mesa Tradicional</h5>
              <p class="card-text">Mesa para ate 8 pessoas, localizada no centro do restaurante</p>
              <a routerLink="/reservas" class="btn btn-outline-light">Reservar</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img src="../../../../assets/mesaex.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mesa Tradicional</h5>
              <p class="card-text">Mesa para ate 8 pessoas, localizada no centro do restaurante</p>
              <a routerLink="/reservas" class="btn btn-outline-light">Reservar</a>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card text-white bg-dark" style="width: 18rem;">
            <img src="../../../../assets/mesaex.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mesa Tradicional</h5>
              <p class="card-text">Mesa para ate 8 pessoas, localizada no centro do restaurante</p>
              <a routerLink="/reservas" class="btn btn-outline-light">Reservar</a>
            </div>
          </div>
    </div>  
</div>
